<h1>Usuários cadastrados</h1>
<div>
  <a class="btn btn-primary" href="/usuarios/cadastrar"
    >Cadastrar novo usuário</a
  >
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Senha</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < usuarios.length; i++) { %>
      <tr>
        <td><%= usuarios[i].id %></td>
        <td><%= usuarios[i].nome %></td>
        <td><%= usuarios[i].email %></td>
        <td><%= usuarios[i].senha %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
